#map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leaflet-marker-icon.mountain {
  background-image: url('./assets/mountain.png');
  width: 12px;
  height: 12px;
}
